{% extends "base.njk" %}


{% block content %}
<div> 
    <div class="govuk-form-group">
    <h1 class="govuk-label-wrapper">
        <label class="govuk-label govuk-label--l" for="more-detail">
        Assess and refer for civil legal advice 
        </label>
    </h1>
    </div>

    <button type="submit" class="govuk-button" data-module="govuk-button">
    Sign In
    </button>
</div>
{% endblock %}