{% extends "base.html" %}
{%- from "govuk_frontend_jinja/components/button/macro.html" import govukButton as gov_uk_button -%}
{% block beforeContent %} {{ super() }} {% endblock %}
{% block content %}

  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
          {{ govuk_notification_banner({'type': category, 'html': message}) }}
      {% endfor %}
    {% endif %}
  {% endwith %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-8">Assess and refer for civil legal advice</h1>
      {{ gov_uk_button({
      "href": url_for("sign_in_entra"),
      "text": "Sign in",
      "isStartButton": true
    }) }}
  </div>
</div>
{% endblock %}
