{% extends "base.html" %} 
{%- from "govuk_frontend_jinja/components/button/macro.html" import govukButton as gov_uk_button -%}
{% block beforeContent %} {{ super() }} {% endblock %}
{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-8">Assess and refer for civil legal advice</h1>
    {{ gov_uk_button({
      "text": "Sign in",
      "href": url_for("receive_call"),
      "isStartButton": true
    }) }}
  </div>
</div>
{% endblock %}
