{% extends "govuk/template.njk" %}
{% block pageTitle %}CLA Frontend - Forge Spike{% endblock %}

{% block headIcons %}
  <link rel="icon" sizes="48x48" href="/assets/images/favicon.ico">
  <link rel="icon" sizes="any" href="/assets/images/favicon.svg" type="image/svg+xml">
{% endblock %}

{% block head %}
  <link rel="stylesheet" href="/govuk-frontend.min.css">
{% endblock %}