{% extends "base.njk" %}


{% block content %}
<div> 
    <div class="govuk-form-group">
    <h1 class="govuk-label-wrapper">
        <label class="govuk-label govuk-label--l" for="more-detail">
        Assess and refer for civil legal advice 
        </label>
    </h1>
    </div>

<a href="/login" role="button" class="govuk-button govuk-button--start"> Sign in </a>
</div>
{% endblock %}