CONTACT_EMAIL='CONTACT_EMAIL'
CONTACT_PHONE='CONTACT_PHONE'
DEPARTMENT_NAME='Justice Digital'
DEPARTMENT_URL='https://mojdigital.blog.gov.uk/'
SECRET_KEY='SECRET_KEY'
SERVICE_NAME='SERVICE_NAME'
SERVICE_PHASE='Beta'
SERVICE_URL='SERVICE_URL'
CLAH_ENVIRONMENT='local'
REDIRECT_PATH = "http://localhost:5000/auth/entra-callback"
ENDPOINT = 'https://graph.microsoft.com/v1.0/users'
CLIENT_ID=""
CLIENT_SECRET=""
TENANT_ID= ""
AUTHORITY = ""
SCOPE = ""
SESSION_TYPE = ""
EXPECTED_AUDIENCE= ""
