{% extends "authenticated_base.html" %}
{% from 'govuk_frontend_jinja/components/service-navigation/macro.html' import govukServiceNavigation as govuk_service_navigation %}

{% block beforeContent %} {{ super() }} {% endblock %}

{% block pageTitle %}Adding a client – {{config['SERVICE_NAME']}} – GOV.UK{% endblock %}

{% block content %}
<a href="{{url_for('search_client')}}" class="govuk-back-link">Back</a>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
  {{ super() }}
  {# ======================= #}
  {# # TODO: This is a placeholder for the add client form, so we can see how pre-populated data looks when we start a case from the search page. #}
  {# ======================= #}
    <h1 class="govuk-heading-xl">Placeholder Add Client</h1>

    <p class="govuk-body">
      Case reference: {{ case_reference }}
    </p>

    <div class="govuk-form-group">
      <label class="govuk-label" for="full_name">Full name</label>
      <input class="govuk-input" id="full_name" name="full_name" value="{{ prefill.full_name or '' }}">
    </div>

    <div class="govuk-form-group">
      <label class="govuk-label" for="phone">Phone</label>
      <input class="govuk-input" id="phone" name="phone" value="{{ prefill.phone or '' }}">
    </div>

    <div class="govuk-form-group">
      <label class="govuk-label" for="postcode">Postcode</label>
      <input class="govuk-input" id="postcode" name="postcode" value="{{ prefill.postcode or '' }}">
    </div>

    <div class="govuk-form-group">
      <label class="govuk-label" for="date_of_birth">Date of birth</label>
      <input class="govuk-input govuk-input--width-10" id="date_of_birth" name="date_of_birth" value="{{ prefill.date_of_birth or '' }}">
    </div>
  </div>
</div>
{% endblock %}
