{% extends "base.njk" %}

{% block content %}
    {% block backLink %}{% endblock %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            {% set serviceUnavailableError = data.serviceUnavailableError %}
            {% include "main/forms/error-summary.njk" %}
            <h1 class="govuk-heading-xl">{{ step.title }}</h1>

            <form method="post" novalidate>
                <input type="hidden" name="_csrf" value="{{ csrfToken }}">

                {% for block in blocks %}
                    {{ block | safe }}
                {% endfor %}
            </form>
        </div>
    </div>
{% endblock %}
