/* Example of a custom SCSS file which is combined into one SCSS application file by Flask Assets */
@use "govuk-frontend/dist/govuk/settings/_index.scss" as govuk-index;
@use "govuk-frontend/dist/govuk/base" as govuk;

/* Example below of using GOVUK frontend SCSS variables in custom SCSS */
.moj-skeleton {
	background: govuk-index.$govuk-focus-colour;
	&__example {
		background: govuk-index.$govuk-brand-colour;
	}
}

.taking-call-inset {
	border-left-color: govuk.govuk-functional-colour("brand");
	background-color: govuk.govuk-functional-colour("template-background");
}

.search-client-box {
	background-color: govuk.govuk-functional-colour("template-background");
	padding: govuk.govuk-spacing(4) govuk.govuk-spacing(4) govuk.govuk-spacing(3);
	margin: govuk.govuk-spacing(6) 0 govuk.govuk-spacing(6) 0;
}

.search-client-box .govuk-button-group {
	margin-bottom: 0;
}
