$govuk-page-width: 1280px;

@import "govuk-frontend/dist/govuk/index";
@import "@ministryofjustice/frontend/moj/all";
@import "@ministryofjustice/hmpps-forge/dist/moj-components/all";

// who's-calling step styling
.taking-call-inset {
  border-left-color: govuk-functional-colour(brand);
  background-color: govuk-functional-colour(template-background);
}

// search-client step styling
.search-client-box {
  border-left-color: govuk-functional-colour(brand);
  background-color: govuk-functional-colour(template-background);
  padding: govuk-spacing(5) govuk-spacing(5) govuk-spacing(1);
  margin: govuk-spacing(6) 0;
}
